.button{
    border:none;
    outline: none;
    cursor: pointer;
    text-align: center;
}
.circle{
    background-color: var(--primary-pink);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.rectangle{
    border-radius: 1rem;
    padding: 0.875rem 1.4rem;
}