.border_radius {
  border-radius: 50%;
}
.centering_children {
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small {
  width: 43px;
  height: 43px;
}

.medium {
  width: 121px;
  height: 121px;
}

.large {
  width: 171px;
  height: 171px;
}

.green {
  background-color: var(--primary-green-transparency);
}

.light_orange {
  background-color: var(--light-greenish-blue);
}
.dark_orange {
  background-color: var(--dark-orange);
}

.pink {
  background-color: var(--light-pink);
}
