.container {
    border: none;
    outline: none;
    width: 5.7rem;
    height: 3rem;
    padding: 0.6rem 0.56rem 0.68rem 0.56rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-pink);
    position: absolute;
    z-index: 99;
    top: 1rem;
    left: 1rem;
}

.p {
    font-family: DM Sans;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: left;
    color: var(--absolute-white);
    width: 1.8rem;
}