.input_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--absolute-white);
    border: 0.125rem solid var(--absolute-white);
    border-radius: 0.625rem;
    height: 3rem;
    overflow: hidden;
}

.input {
    width: 73.5%;
    border: none;
    outline: none;
    border-radius: 0.625rem;
    color: var(--light-gray-transparency);
    padding: 0.5rem 0 0.5rem 1rem;
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.input::placeholder{
  color: var(--light-gray-transparency-4) ;
}
.input_wrapper svg {
    width: 26.5%;
}