* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: hsl(113, 46%, 60%);
  --primary-green-transparency: hsl(113, 36%, 50%, 1);
  --primary-green-transparency-2: hsla(113, 32%, 75%, 1);
  --primary-pink: hsla(11, 74%, 70%, 1);
  --primary-text: hsl(0, 0%, 100%);
  --dark-gray: hsla(0, 0%, 20%, 1);
  --light-gray: hsl(0, 0%, 20%);
  --light-gray-transparency: hsla(0, 0%, 20%, 0.5);
  --light-gray-transparency-2: hsla(0, 0%, 97%, 1);
  --light-gray-transparency-3: hsla(0, 0%, 100%, 0.5);
  --light-gray-transparency-4: hsla(0, 0%, 86%, 1);
  --dark-green: hsla(113, 40%, 41%, 1);
  --absolute-white: hsla(0, 0%, 100%, 1);
  --light-greenish-blue: hsla(33, 100%, 91%, 1);
  --dark-orange: hsla(11, 74%, 70%, 1);
  --light-pink: hsla(12, 100%, 94%, 1);
  --vivid-orange: hsla(30, 89%, 60%, 1);
  --mustard: hsla(33, 88%, 69%, 1);
  --light-green: hsla(113, 40%, 54%, 1);
}

@font-face {
  font-family: Work Sans;
  font-weight: 400;
  src: url(../public/assets/fonts/WorkSans-Regular.ttf);
}

@font-face {
  font-family: Work Sans;
  font-weight: 800;
  src: url(../public/assets/fonts/WorkSans-ExtraBold.ttf);
}
@font-face {
  font-family: Work Sans;
  font-weight: 700;
  src: url(../public/assets/fonts/WorkSans-Bold.ttf);
}
@font-face {
  font-family: Work Sans;
  font-weight: 600;
  src: url(../public/assets/fonts/WorkSans-SemiBold.ttf);
}
@font-face {
  font-family: Work Sans;
  font-weight: 500;
  src: url(../public/assets/fonts/WorkSans-Medium.ttf);
}

@font-face {
  font-family: DM Sans;
  src: url(../public/assets/fonts/DMSans_18pt-Regular.ttf);
}
@font-face {
  font-family: Caveat Sans;
  src: url(../public/assets/fonts/Caveat-Regular.ttf);
}

svg {
  display: block;
}

a {
  text-decoration: none;
}
